<div class="innerContainer">
<div class="geolocationBox">
	<div class="geolocationSwitchBox">
		<label for="geolocationSwitch" id="geolocationSwitchLabel" class="ui-slider">Ortungsdienste</label>
		<div id="geolocationSwitch">
			<div id="geolocationSwitchCircle">				
			</div>			
		</div>
	</div>	
	<p id="geolocationText">
		Hier kann die Nutzung der Ortungsfunktion des Telefons aktiviert / deaktiviert werden.
		Die Standortdaten werden ausschließlich lokal benutzt um Radios in der Nähe anzuzeigen.
		Ist die Ortungsfunktion deaktiviert, steht die Umgebungssuche nicht zur Verfügung. Die
		App wird auch bei aktivierter Ortung niemals Standortdaten über das Netzwerk versenden
		oder in irgendeiner Form speichern.
	</p>
</div>
</div>